.projects1 {
    background-color: #f6f6f6;;
}
.contactPicture {
    width: 60%!important;
    border-radius: 20px;
}
html {
    scroll-behavior: smooth;
  }
.wrapper {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    margin: 2rem;
}
.textColor{
    color: black!important;
}
.fixedParticlesBar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.radius {
    border-radius: 20px;
}
.generalconditions {
    padding: 4rem;
}
#generalconditions p {
    color: black !important;
}
h5 {
    color: black !important;
}
h6 {
    color: black !important;
}
#generalconditions ul li {
    list-style:disc !important;
    margin-left: 15px;
}
.priceborder {
    border: 5px solid #ff573b !important;
}